In [1]:
import pandas as pd

In [3]:
vine = pd.read_csv("vine_table.csv")
vine

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y
...,...,...,...,...,...,...
1785992,RPC430LWZJ60T,5,1,1,N,N
1785993,R347MZT5FH6HRJ,5,2,2,N,N
1785994,RJ5BETZP0VIUS,1,0,2,N,N
1785995,R85QTDO2KZMGO,1,1,3,N,N
1785996,R2W36RZZZNTYWF,5,1,1,N,N

In [4]:
vine.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [5]:
tv20 =vine.loc[vine["total_votes"]>= 20]

In [6]:
tv20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785714,R26KS4Q9G04FIV,2,8,21,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [7]:
# create a new DataFrame or table to retrieve all the rows 
# where the number of helpful_votes divided by 
# total_votes is equal to or greater than 50%.

hv = tv20.loc[(tv20["helpful_votes"]/tv20["total_votes"] >= 0.5)]
hv

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [8]:
# create a new DataFrame or table that retrieves 
# all the rows where a review was written as part of 
# the Vine program (paid), vine == 'Y'.

paid = hv.loc[hv["vine"]=="Y"]

In [11]:
paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N
...,...,...,...,...,...,...
1456862,RLPTVGLU0JQIP,3,42,45,Y,N
1463333,R3ASJ9SENYYYI0,5,40,46,Y,N
1481162,RNU8PK609WT6P,4,347,362,Y,N
1506354,R8YT75NJW0CM9,4,37,40,Y,N
1506642,R2EDL85YVF0PRA,5,23,32,Y,N

In [9]:
# retrieve all the rows where the review was not part of 
# the Vine program (unpaid), vine == 'N'.

unpaid = hv.loc[hv["vine"]=="N"]

In [10]:
unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N
1785688,R3GYUWLD9FWCPS,5,30,30,N,N
1785788,RU0J1ZMBCLD27,5,27,29,N,N
1785806,R1D69XH2THYKTG,5,18,20,N,N
1785935,R3U5C85OV6BUKM,4,38,43,N,N

In [15]:
# Determine the total number of reviews, the number of 5-star
# reviews, and the percentage of 5-star reviews for the two 
# types of review (paid vs unpaid).



# total number of paid reviews
paid_total_star = paid["star_rating"].count()

# total 5 star paid reviews
paid_five_star = paid.loc[(paid["star_rating"]== 5)]["star_rating"].count()

# percentage of 5 star paid reviews

percentage_five_star = (paid_five_star/ paid_total_star) * 100

percentage_five_star

51.06382978723404

In [17]:
# total number of unpaid reviews
unpaid_total_star = unpaid["star_rating"].count()

# total 5 star paid reviews
unpaid_five_star = unpaid.loc[(unpaid["star_rating"]== 5)]["star_rating"].count()

# percentage of 5 star paid reviews

unpercentage_five_star = (unpaid_five_star/ unpaid_total_star) * 100

unpercentage_five_star

38.701786464381904

48